[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
py2app = "*"
v = {editable = true,version = "*"}

[packages]
tqdm = "==4.29.0"

[requires]
python_version = "3.7"
